<robot name="013_apple">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="-0.012204968815891608 0.03926036069089303 -0.71496" />
			<geometry>
				<mesh filename="013_apple/google_16k/textured.obj" scale="10 10 10" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="013_apple/google_16k/textured_vhacd.obj" scale="10 10 10" />
			</geometry>
		<origin rpy="0 0 0" xyz="-0.012204968815891608 0.03926036069089303 -0.71496" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>