<robot name="flat">
	<link name="_name">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="1.6666664585337418e-07 4.16666562530416e-08 -2.0833330208652516e-07" />
			<geometry>
				<mesh filename="flat/cube_flat.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 0.0 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="1.6666664585337418e-07 4.16666562530416e-08 -2.0833330208652516e-07" />
			<geometry>
				<mesh filename="flat/cube_flat_vhacd.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>