<robot name="small_holder">
	<link name="_name">
		<visual>
			<origin xyz="0 0 0" rpy="1.57 0 0" />
			<geometry>
				<mesh filename="small_holder/holder.obj" scale="0.01 0.01 0.01" />
			</geometry>
			<material name="texture">
				<color rgba="0.0 1.0 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="1.57 0 0" />
			<geometry>
				<mesh filename="small_holder/holder_vhacd.obj" scale="0.01 0.01 0.01" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		<origin xyz="-1.4891129352385525e-06 0.2987647628468761 -4.6953183024735825e-07" rpy="0 0 0" /></inertial>
	</link>
</robot>